

.header {
    position: fixed;
    width: 100%;
    height: 82px;
    background-color: #575757;
}

.sipster {
    width: 7em;
    margin: 0 auto;
    font-family: Lobster;
    font-size: 1.9em;
    text-align: center;
}

.sipster h1 {
    position: absolute;
    margin: 0px;
    color: #3debd1;
}

.header-nav {
    text-align: center;
    font-family: Lobster;
    top: 60%;
    right:50%;
    margin: 4px;
    float: right;
}

.nav-item {
    font-size: 2em;
    display: inline-block;
    list-style-type: none;
}

.nav-item a {
    color: #3debd1;
    padding: 15px 20px 20px 15px;
    text-decoration: none;
}